#form {
  display: flex;
  padding: 20px 30px 20px 40px;
}
#text {
  margin-right: 30px;
}
article {
  display: grid;
}
#f {
  margin-top: 10px;
}
#button {
  margin-left: 125px;
}
button {
  margin: 0px 0px 30px 10px;
}
main {
  height: 500px;
}
